.footer {
    text-align: center;
    padding: 15px 0;
    background: #B9DCC9;
    box-shadow: 0px 2px 10px rgba(65, 92, 62, 0.9);
}

.footer p {
    padding-bottom: 15px;
    font-size: 1rem;
    color: black; /* This should be a global styling */
}